<div *ngIf="subject; else elseBlock">
  <mat-dialog-content>
    <h2>{{title}} materia</h2>
    <form [formGroup]="dataForm">

      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="subject.name" maxlength="55" formControlName="name" placeholder="Ej. Base de datos">
        <mat-error *ngIf="hasError('name','required')">
          Ingrese un <strong>nombre</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput type="text" placeholder="Texto libre" formControlName="description" [(ngModel)]="subject.description" maxlength="255"></textarea>
        <mat-hint align="end"> {{subject.description.length}}/255</mat-hint>
        <mat-error *ngIf="hasError('description','required')">
          Ingrese una <strong>descripcion</strong>
        </mat-error>
      </mat-form-field>
      
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-flat-button [mat-dialog-close]="true" color="primary" (click)="saveChanges()"
      [disabled]="formHasData()">
      Guardar
    </button>

    <button mat-flat-button [mat-dialog-close]="false" color="warn">
      Cancelar
    </button>
  </mat-dialog-actions>

</div>

<div class="loading">
  <ng-template #elseBlock>
    <img src="../../../../assets/book.gif" height="200rem" />
  </ng-template>
</div>