<mat-card *ngIf="subjectsNotAdded" class="mainFriends">

  <div class="containerFriends">
    <h2>Gestion de materias:</h2><br>
    <div *ngIf="hasSubjectsToAdd(); else elseBlock" class="LoginFriends">
      <form class="formAutocomplit">
        <mat-form-field appearance="outline" class="matInputFriend">
          <mat-label>Materias</mat-label>
          <input type="text" placeholder="Seleccione un subject" aria-label="allSubjects" matInput maxlength="55"
            [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="textb" required (keyup.enter)="addSubject()">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let subject of getSubjectsNotAdded()" (click)="addSubject()" [value]="subject">
              {{subject.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="myControl.hasError('required')">
            Elija una <strong>Materia</strong> de la <strong>Lista</strong>
          </mat-error>
        </mat-form-field>
        <mat-card-footer class="buttonAdd">
        </mat-card-footer>
      </form>
    </div>
    <mat-nav-list class="listFriends">
      <div *ngFor="let subject of user.subjects" class="buttonRemove">
        <mat-list-item class="autoMargin">
          {{subject.name}}
          
          <button mat-flat-button (click)="deleteSubject(subject)">
            <mat-icon aria-hidden="false" aria-label="Example home icon">clear
            </mat-icon>
          </button>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </div>
</mat-card>

<ng-template #elseBlock>
  <strong>No hay materias para agregar</strong>
</ng-template>