.containerFriends{
    text-align: auto;
    margin: auto;
}


.matInputFriend{
    width: 100%;
}

.autoMargin{
    margin-top: 15px;
    margin-bottom: 15px;
}

.listFriends{
    flex-direction: column;
    display: flex;
}

mat-cmat-card-footer{
    text-align: right;
    margin: auto;
}

.buttonAdd{
margin: auto;
flex-direction: row;
display: flex;
margin-left: 10px;
}


.buttonclear{
    flex: 1 1 auto;
}

.formAutocomplit{
    min-width: 150px;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.buttonRemove{
    display: flex;
}

::ng-deep .mainFriends{
    border-radius: 20px !important;
    border: 1px solid #cacaca;
}
