.tableContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
}
table{
    width: 55%;
    margin-top: -0.8rem;
}
.formWarap{
    margin-bottom: 0.8rem;
}
button{
    margin-left: 2rem;
}

img{
    object-fit: contain;
}