<div class="tableContainer">
  <div class="formWarap" *ngIf="dataSource">
    <mat-form-field>
      <mat-label>Buscar classrooms</mat-label>
      <input matInput maxlength="55" (keyup)="applyFilter($event)" placeholder="Texto a buscar" />
    </mat-form-field>
    <span>
      <button mat-mini-fab color="primary" (click)="editSubject('')" class="newButtonPlus">
        +
      </button>
    </span>
  </div>
  <div class="overflowA">
    <table *ngIf="dataSource; else elseBlock" mat-table [dataSource]="dataSource" class="mat-elevation-z8"
      color="primary">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef  class="paddingTitleColumn"> Dia/Turno  </mat-header-cell>
        <mat-cell *matCellDef="let classroom" class="paddingColumnWithHugeText">
          {{ classroom.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="subject">
        <mat-header-cell *matHeaderCellDef class="paddingColumnWithHugeText"> Materia </mat-header-cell>
        <mat-cell *matCellDef="let classroom" class="paddingColumnWithHugeText">
          {{ classroom.subject.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit Classroom">
        <mat-header-cell *matHeaderCellDef>  Editar </mat-header-cell>
        <mat-cell *matCellDef="let classroom">

          <button mat-icon-button [disabled]="!classroom.active" (click)="editSubject(classroom.id)">
            <mat-icon matTooltip="Editar classroom">create</mat-icon>
          </button>



        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit Users">
        <mat-header-cell *matHeaderCellDef class="paddingTitleColumn"> Integrantes </mat-header-cell>
        <mat-cell *matCellDef="let classroom">

          <button mat-icon-button [routerLink]="['/edit/classroom',classroom.id]">
            <!-- <mat-icon *ngIf="!subject.active" matTooltip="Reactivar materia">add</mat-icon> -->
            <mat-icon *ngIf="classroom.active" matTooltip="Editar integrantes del classroom">group</mat-icon>
          </button>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
        <mat-cell *matCellDef="let classroom">

          <button mat-icon-button *ngIf="classroom.active " (click)="shouldDelete(classroom.id)">
            <mat-icon matTooltip="Eliminar classroom">delete</mat-icon>
          </button>



        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Restart">
        <mat-header-cell *matHeaderCellDef> Reiniciar </mat-header-cell>
        <mat-cell *matCellDef="let classroom">
          <button mat-icon-button (click)="wantRestart(classroom.id)">
            <mat-icon matTooltip="Reiniciar classroom">cached</mat-icon>
          </button>
        </mat-cell>
      </ng-container>




      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
  </div>
</div>

<div class="loading">
  <ng-template #elseBlock>
    <img src="../../../assets/book.gif" height="200rem" />
  </ng-template>
</div>