.tableContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
}
table{
    width: 55%;
    margin-top: -0.8rem;
}
.formWarap{
    margin-bottom: 0.8rem;
}
button{
    margin-left: 0rem;
}
 
 .paddingColumnWithHugeText{
     min-height:auto; 
     margin-left: 10px;
     margin-right: 10px;
     padding: 0 2px 0 0;
 }

img{
    object-fit: contain;
}

.overflowA{
    overflow-x:auto;
}

.marginOnBothSides{
    margin-left: 3rem;
    margin-right: 3rem;
}