<div class="centered">
  <mat-card routerLink="/users">
    <mat-card-title>
      <h1>Usuarios</h1>
    </mat-card-title>
    <div class="img">
      <img mat-card-image src="../../../assets/user.png" height="300rem" />
    </div>
  </mat-card>

  <mat-card routerLink="/asignatures">
    <mat-card-title>
      <h1>Materias</h1>
    </mat-card-title>
    <img mat-card-image src="../../../assets/materias.jpg" height="300rem"/>
  </mat-card>

  <mat-card routerLink="/classrooms">
    <mat-card-title>
      <h1>Classrooms</h1>
    </mat-card-title>
    <img mat-card-image src="../../../assets/chat.png" height="300rem"/>
  </mat-card>
</div>
