.containerFriends{
    width: auto;
    text-align: center;
    margin: auto;
}

.matInputFriend{
    width: 85%;
}

mat-cmat-card-footer{
    text-align: right;
    margin: auto;
}

.buttonAdd{
    margin: auto;
    flex-direction: row;
    display: flex;
    margin-left: 10px;
}

.buttonclear{
    flex: 1 1 auto;
}

.formAutocomplit{
    min-width: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.buttonRemove{
    display: flex;
}

::ng-deep .mainFriends{
    border-radius: 20px !important;
    border: 1px solid #cacaca;
}
