<mat-card *ngIf="subjectsNotAdded" class="mainFriends">
  <div class="containerFriends">
    <h2 *ngIf="classroom.subject">Materia seleccionada: <strong >{{classroom.subject.name}}</strong></h2><br>
    <div class="LoginFriends">
      <form class="formAutocomplit">
        <mat-form-field appearance="outline" class="matInputFriend">
          <mat-label>Materias</mat-label>
          <input type="text" placeholder="Seleccione una materia" aria-label="allSubjects" matInput
            [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option (click)="addSubject()" *ngFor="let subject of subjectsNotAdded" [value]="subject">
              {{subject.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>
</mat-card>