main{
    height: 55vh;
    margin: 1rem;
    display: flex;
}
.cardlog{
    margin: auto;
    width: 20rem;
    text-align: center;
}

.logForm{
    display: flex;
    flex-direction: column;
}
button{
    width: 95%;
}