.tableContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
}

table {
   width: 100%;
}

.mat-row {
   height: auto;
}

.paddingColumnWithHugeText{
    min-height:auto; 
    margin-left: 8px;
    margin-right: 5px;
    padding: 0 150px 0 0;
}

img{
    object-fit: contain;
}

.overflowA{
    overflow-x:auto;
}

.newButtonPlus{
    margin-left: 2rem;
}