<div class="tableContainer" *ngIf="dataSource; else elseBlock">
  <div class="formWarap">
    <mat-form-field>
      <mat-label>Buscar usuarios</mat-label>
      <input matInput maxlength="55" (keyup)="applyFilter($event)" placeholder="Texto a buscar" />
    </mat-form-field>
    <span>
      <button mat-mini-fab color="primary" (click)="editUser('')" class="newButtonPlus">
        +
      </button>
    </span>
  </div>
  <div class="overflowA">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" color="primary">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{ user.name }}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.lastname }} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="dni">
        <mat-header-cell *matHeaderCellDef> DNI </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.dni }} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email" >
        <mat-header-cell *matHeaderCellDef class="paddingColumnWithHugeText"> E-mail </mat-header-cell>
        <mat-cell *matCellDef="let user" class="paddingColumnWithHugeText"> {{ user.email }} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ getStatus(user) }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
        <mat-cell *matCellDef="let user">

          <button mat-icon-button [disabled]="!user.active" (click)="editUser(user.id)">
            <mat-icon matTooltip="Editar Alumno">create</mat-icon>
          </button>

        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let user">

          <button mat-icon-button *ngIf="user.active" (click)="shouldDelete(user.id)">
            <mat-icon matTooltip="Eliminar usuario">delete</mat-icon>
          </button>

        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
  </div>
</div>
<div class="loading">
  <ng-template #elseBlock>
    <img src="../../../assets/book.gif" height="200rem" />
  </ng-template>
</div>