<div *ngIf="user; else elseBlock">
  <mat-dialog-content>
    <h2>Editar usuario</h2>
    <form [formGroup]="dataForm">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="user.name" formControlName="name" placeholder="Ej. Agustin">
        <mat-error *ngIf="hasError('name','required')">
          Ingrese un <strong>nombre</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="user.lastname" formControlName="lastName" placeholder="Ej. Perez">
        <mat-error *ngIf="hasError('lastName','required')">
          Ingrese un <strong>apellido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput [(ngModel)]="user.password" formControlName="password" placeholder="Ej. 6%43%a@adi">
        <mat-error *ngIf="hasError('password','required')">
          Ingrese una <strong>contraseña</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Dni</mat-label>
        <input matInput [(ngModel)]="user.dni" formControlName="dni" placeholder="Ej. 44658872">
        <mat-error *ngIf="hasError('dni','required')">
          Ingrese un <strong>DNI</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="user.email" formControlName="email" placeholder="Ej. pedro@example.example">
        <mat-error *ngIf="hasError('email','required')">
          Ingrese un <strong> email </strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select formControlName="role" [disabled]="user.id" [(value)]="user.role">
          <mat-option [value]="'TEACHER'">Profesor</mat-option>
          <mat-option [value]="'STUDENT'">Estudiante</mat-option>
          <mat-option [value]="'ADMIN'">Admin</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('role','required')">
          Seleccione un <strong>Rol</strong>
        </mat-error>
      </mat-form-field>
      <app-subjects *ngIf="isTeacher()" [user]="user">
      </app-subjects>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-flat-button [mat-dialog-close]="true" color="primary" (click)="saveChanges()"
      [disabled]="formHasData()">
      Guardar
    </button>
    <button mat-flat-button [mat-dialog-close]="false" color="warn">
      Cancelar
    </button>
  </mat-dialog-actions>
</div>

<ng-template #elseBlock>
  <mat-spinner></mat-spinner>
</ng-template>